In [1]:
import os
import gc
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import confusion_matrix, make_scorer, classification_report
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree.export import export_text
%matplotlib inline
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

C:\Users\xmeng5\AppData\Roaming\Python\Python36\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.tree.export module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.tree. Anything that cannot be imported from sklearn.tree is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
test = pd.read_csv(r'Z:\XMeng\2019 Financial Wellness\test_data.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4,5,16,17,56,59,64,65,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,91,92,96,97,98,99,100,101,103,107,108) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
test.shape

(671959, 113)

In [3]:
rename_col = pd.read_excel(r"Z:\XMeng\2019 Financial Wellness\rename col.xlsx")
rename_dict = {}
for index, row in rename_col.iterrows():
    rename_dict.update({row['Acxiom Monthly Layout']:row['new name']})

test.rename(columns=rename_dict,inplace=True)

In [5]:
pd.options.display.max_seq_items = None

In [30]:
test.head()

,ABILITEC_ID,METCUSTNUM,GENDER_CD,customer_prominance_4000,college_grad_7471,young_adult_7473,expectant_parent_7474,recent_divorce_7476,newlywed_7477,new_mover_7478,child_highschool_7470,recent_home_buy_7467,recent_mortgage_7468,gender,education_code_first_9509,education_code_2nd_9510,house_M_18_24_8600,house_F_18_24_8600,house_U_18_24_8600,house_M_25_34_8600,house_F_25_34_8600,house_U_25_34_8600,house_M_35_44_8600,house_F_35_44_8600,house_U_35_44_8600,house_M_45_54_8600,house_F_45_54_8600,house_U_45_54_8600,house_M_55_64_8600,house_F_55_64_8600,house_U_55_64_8600,house_M_65_74_8600,house_F_65_74_8600,house_U_65_74_8600,house_M_75PLUS_8600,house_F_75PLUS_8600,house_U_75PLUS_8600,child_M_00_02_8601,child_F_00_02_8601,child_U_00_02_8601,child_M_03_05_8601,child_F_03_05_8601,child_U_03_05_8601,child_M_06_10_8601,child_F_06_10_8601,child_U_06_10_8601,child_M_11_15_8601,child_F_11_15_8601,child_U_11_15_8601,child_M_16_17_8601,child_F_16_17_8601,child_U_16_17_8601,Marital_status_8609,child_ind_8622,num_adults_8628,CC_Premium_8621,CC_Upscale_8621,income_household2_8641,business_owner_2350,CC_Purchase_Freq_9150,Retail_purchase_9154,home_market_value_8642,home_market_decile_8463,vehicle_number_8647,home_dweller_8606,home_value_8557,home_purchase_amt_8561,home_loan_amt_8437,worth_gold_9356,economic_stability2_9350,dieting_interest_7771,self_help_interest_7772,grandchild_interest_7780,investment_interest_7793,finance_interest_7831,career_interest_7841,online_edu_7844,houshold_count_8629,credit_use_heavy_9358,pets_6740,lifestage_cluster_1270,veteran_2356,green_living_2776,buying_channel_net_2779,buying_channel_mail_2780,buying_channel_phone_2781,affordability_2834,economic_stability_7110,income_household_8201,home_room_cnt_8442,worth_rich_9355,age,SOURCE,postal_code,city,state,occupation_cd_2360,birthDT,birthDT,birthDT,lifestage_cluster_1270.1,life_insurance_2354,Match_Acxiom,EMASTCONT,IDW_MBR_ID,CVR_TYP_CD,CVR_EFF_DT,CVR_EFF_year,BIRTH_DT,enroll_or_not,seg1
0,03LNUS0100009HGZ,91360,MALE,7,,,,,,,,,,M,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M,,2,0.0,0.0,NaN,,,,Q,8,NaN,O,J,J,M,A,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,7,NaN,3,NaN,NaN,2,9,6,7,10,,8,0,33.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1,03LNUS010020ZNJ1,93851,MALE,2,,,,,,,,,,M,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,S,Y,2,0.0,0.0,6,,,,Q,1,NaN,O,I,I,L,A,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4,NaN,3,NaN,NaN,2,8,7,9,18,D,NaN,0,41.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
2,03LNUS01002Z447T,35700,FEMALE,7,,,,,,,,,,F,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,S,Y,2,0.0,0.0,7,,,,G,9,NaN,,B,,,6,17,1,NaN,NaN,NaN,1,NaN,NaN,4,6,NaN,3,NaN,NaN,8,8,7,15,20,E,4,0,32.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
3,03LNUS01003TZXP8,105523,FEMALE,8,,Y,,,,,Y,,,F,NaN,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,S,Y,5,0.0,0.0,9,,,B3,H,NaN,NaN,O,,,,9,1,1,NaN,1,1,1,1,NaN,6,2,NaN,3,NaN,1,5,2,2,4,3,I,NaN,0,26.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
4,03LNUS010056GWS8,35700,FEMALE,5,,,,,,Y,,,,F,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,,1,0.0,0.0,NaN,,,,R,7,NaN,,B,,,7,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,NaN,3,NaN,NaN,1,6,9,11,24,,NaN,NaN,29.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [32]:
#test.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1,inplace=True)
test.drop(['seg1'], axis=1,inplace=True)

In [6]:
test.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'ABILITEC_ID', 'METCUSTNUM', 'GENDER_CD',
       'customer_prominance_4000', 'college_grad_7471', 'young_adult_7473',
       'expectant_parent_7474', 'recent_divorce_7476', 'newlywed_7477',
       'new_mover_7478', 'child_highschool_7470', 'recent_home_buy_7467',
       'recent_mortgage_7468', 'gender', 'education_code_first_9509',
       'education_code_2nd_9510', 'house_M_18_24_8600', 'house_F_18_24_8600',
       'house_U_18_24_8600', 'house_M_25_34_8600', 'house_F_25_34_8600',
       'house_U_25_34_8600', 'house_M_35_44_8600', 'house_F_35_44_8600',
       'house_U_35_44_8600', 'house_M_45_54_8600', 'house_F_45_54_8600',
       'house_U_45_54_8600', 'house_M_55_64_8600', 'house_F_55_64_8600',
       'house_U_55_64_8600', 'house_M_65_74_8600', 'house_F_65_74_8600',
       'house_U_65_74_8600', 'house_M_75PLUS_8600', 'house_F_75PLUS_8600',
       'house_U_75PLUS_8600', 'child_M_00_02_8601', 'child_F_00_02_8601',
       'child_U_00_02_8601', 'child_M_03_05_8601', 'child_F_03_05_8601',
       'child_U_03_05_8601', 'child_M_06_10_8601', 'child_F_06_10_8601',
       'child_U_06_10_8601', 'child_M_11_15_8601', 'child_F_11_15_8601',
       'child_U_11_15_8601', 'child_M_16_17_8601', 'child_F_16_17_8601',
       'child_U_16_17_8601', 'Marital_status_8609', 'child_ind_8622',
       'num_adults_8628', 'CC_Premium_8621', 'CC_Upscale_8621',
       'income_household2_8641', 'business_owner_2350',
       'CC_Purchase_Freq_9150', 'Retail_purchase_9154',
       'home_market_value_8642', 'home_market_decile_8463',
       'vehicle_number_8647', 'home_dweller_8606', 'home_value_8557',
       'home_purchase_amt_8561', 'home_loan_amt_8437', 'worth_gold_9356',
       'economic_stability2_9350', 'dieting_interest_7771',
       'self_help_interest_7772', 'grandchild_interest_7780',
       'investment_interest_7793', 'finance_interest_7831',
       'career_interest_7841', 'online_edu_7844', 'houshold_count_8629',
       'credit_use_heavy_9358', 'pets_6740', 'lifestage_cluster_1270',
       'veteran_2356', 'green_living_2776', 'buying_channel_net_2779',
       'buying_channel_mail_2780', 'buying_channel_phone_2781',
       'affordability_2834', 'economic_stability_7110',
       'income_household_8201', 'home_room_cnt_8442', 'worth_rich_9355', 'age',
       'SOURCE', 'postal_code', 'city', 'state', 'occupation_cd_2360',
       'birthDT', 'birthDT', 'birthDT', 'lifestage_cluster_1270.1',
       'life_insurance_2354', 'Match_Acxiom', 'EMASTCONT', 'IDW_MBR_ID',
       'CVR_TYP_CD', 'CVR_EFF_DT', 'CVR_EFF_year', 'BIRTH_DT', 'enroll_or_not',
       'seg1'],
      dtype='object')

In [4]:
companies = [35700, 96661, 84460, 138727,33457,91360,121133,14529,93851,105523,27060,105710,112809]
companies

[35700,
 96661,
 84460,
 138727,
 33457,
 91360,
 121133,
 14529,
 93851,
 105523,
 27060,
 105710,
 112809]

In [5]:
test2 = test[test.METCUSTNUM.isin(companies)]
test2.shape

(461054, 113)

In [6]:
test2.head()

,Unnamed: 0,Unnamed: 0.1,ABILITEC_ID,METCUSTNUM,GENDER_CD,CPI,LE_COLLEGE_GRAD,LE_ENTER_ADULTHOOD,LE_EXPECTANT_PARENT,LE_RECENT_DIVORCE,LE_NEWLYWED,LE_NEW_MOVER,LE_CHILD_NEAR_HS_GRAD_HH,LE_RECENT_HOME_BUYER,LE_RECENT_MORTGAGE_BORROWER,GENDER_INPUT,ED_1STIND,ED_2NDIND,AGE_M_18_24,AGE_F_18_24,AGE_U_18_24,AGE_M_25_34,AGE_F_25_34,AGE_U_25_34,AGE_M_35_44,AGE_F_35_44,AGE_U_35_44,AGE_M_45_54,AGE_F_45_54,AGE_U_45_54,AGE_M_55_64,AGE_F_55_64,AGE_U_55_64,AGE_M_65_74,AGE_F_65_74,AGE_U_65_74,AGE_M_75PLUS,AGE_F_75PLUS,AGE_U_75PLUS,CHILD0_2M,CHILD0_2F,CHILD0_2U,CHILD3_5M,CHILD3_5F,CHILD3_5U,CHILD6_10M,CHILD6_10F,CHILD6_10U,CHILD11_15M,CHILD11_15F,CHILD11_15U,CHILD16_17M,CHILD16_17F,CHILD16_17U,MARITAL_STATUS,CHILDREN,NUM_ADULTS_HH,CC_PREMIUM,CC_UPSCALE,INC,BUSINESS_OWNER,CC_FREQ_PURCH_0_3_MTHS,RTL_MOST_FREQ_CATGY,HOME_VAL,MKT_DEC,VEH_NUMBER_OF,HOME_OWNER,ASSDRNG,PURCH_AMT_RNG,TLOAN_RNG,NTWRTH_GOLD,ESI,INT_DIET,INT_SELF_IMPROVE,INT_GRANDCHILDREN,INT_INVEST_PERSONAL,INT_INVEST_FINANCE_GRP,INT_CAREER,INT_ED_ONLINE,HH_SIZE,HEAVY_TRAN,BUY_PETS_SC,PERSONICX_CLASSIC_RFRSH_PRCSN_LVL,VET_IND,GRN_LIF_IND,BY_CHNL_INTNET_PRPNST_SCOR_CD,BY_CHNL_MAIL_PRPNST_SCOR_CD,BY_CHNL_TEL_PRPNST_SCOR_CD,AFRD_CD,ECON_STBL_FIN_CD,EST_HHLD_INCM_HIGH_RNG_CD,HOME_RM_CNT,NET_WRTH_GLD_PRCS_CD,age,SOURCE,ZIP,XCITYNM,STATE,OCCUP_INPUT_DET,DOB_YYYYMMDD_YYYY,DOB_YYYYMMDD_MM,DOB_YYYYMMDD_DD,lifestage_cluster_1270.1,LIF_INS_POL_OWN_IND,Match_Acxiom,EMASTCONT,IDW_MBR_ID,CVR_TYP_CD,CVR_EFF_DT,CVR_EFF_year,BIRTH_DT,enroll_or_not,seg1
0,0,0,03LNUS0100009HGZ,91360,MALE,7,,,,,,,,,,M,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M,,2,0.0,0.0,NaN,,,,Q,8,NaN,O,J,J,M,A,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,7,NaN,3,NaN,NaN,2,9,6,7,10,,8,0,33.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1,21,21,03LNUS010020ZNJ1,93851,MALE,2,,,,,,,,,,M,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,S,Y,2,0.0,0.0,6,,,,Q,1,NaN,O,I,I,L,A,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4,NaN,3,NaN,NaN,2,8,7,9,18,D,NaN,0,41.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
2,35,35,03LNUS01002Z447T,35700,FEMALE,7,,,,,,,,,,F,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,S,Y,2,0.0,0.0,7,,,,G,9,NaN,,B,,,6,17,1,NaN,NaN,NaN,1,NaN,NaN,4,6,NaN,3,NaN,NaN,8,8,7,15,20,E,4,0,32.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
3,42,42,03LNUS01003TZXP8,105523,FEMALE,8,,Y,,,,,Y,,,F,NaN,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,S,Y,5,0.0,0.0,9,,,B3,H,NaN,NaN,O,,,,9,1,1,NaN,1,1,1,1,NaN,6,2,NaN,3,NaN,1,5,2,2,4,3,I,NaN,0,26.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
4,52,52,03LNUS010056GWS8,35700,FEMALE,5,,,,,,Y,,,,F,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,,1,0.0,0.0,NaN,,,,R,7,NaN,,B,,,7,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,NaN,3,NaN,NaN,1,6,9,11,24,,NaN,NaN,29.0,Hyatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [34]:
cat_cols = ['ABILITEC_ID',
 'Marital_status_8609',
 'child_ind_8622',
 'college_grad_7471',
 'education_code_first_9509',
 'gender',
 'home_dweller_8606',
 'young_adult_7473']

test_dummies = pd.get_dummies(data = test2, columns = cat_cols[1:-1], drop_first=True)

In [17]:
X=test_dummies.drop(columns=['ABILITEC_ID','enroll_or_not'])
Y=test_dummies['enroll_or_not']

# X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, stratify=Y,random_state=42)
# X_train.shape, X_test.shape, Y_train.shape,Y_test.shape

In [37]:
test = test_dummies[['ABILITEC_ID', 'CC_Premium_8621', 'CC_Upscale_8621',
       'affordability_2834', 'age', 'child_F_00_02_8601', 'child_F_03_05_8601',
       'child_F_06_10_8601', 'child_F_11_15_8601', 'child_F_16_17_8601',
       'child_M_00_02_8601', 'child_M_03_05_8601', 'child_M_06_10_8601',
       'child_M_11_15_8601', 'child_M_16_17_8601', 'child_U_00_02_8601',
       'child_U_03_05_8601', 'child_U_06_10_8601', 'child_U_11_15_8601',
       'child_U_16_17_8601', 'credit_use_heavy_9358',
       'economic_stability_7110', 'finance_interest_7831', 'home_value_8557',
       'house_F_18_24_8600', 'house_F_25_34_8600', 'house_F_35_44_8600',
       'house_F_45_54_8600', 'house_F_55_64_8600', 'house_F_65_74_8600',
       'house_F_75PLUS_8600', 'house_M_18_24_8600', 'house_M_25_34_8600',
       'house_M_35_44_8600', 'house_M_45_54_8600', 'house_M_55_64_8600',
       'house_M_65_74_8600', 'house_M_75PLUS_8600', 'house_U_18_24_8600',
       'house_U_25_34_8600', 'house_U_35_44_8600', 'house_U_45_54_8600',
       'house_U_55_64_8600', 'house_U_65_74_8600', 'house_U_75PLUS_8600',
       'houshold_count_8629', 'life_insurance_2354', 'worth_gold_9356',
       'Marital_status_8609_B', 'Marital_status_8609_M',
       'Marital_status_8609_S', 'child_ind_8622_Y', 'college_grad_7471_Y',
       'gender_M', 'home_dweller_8606_R','enroll_or_not']]

test.shape

(461054, 56)

In [40]:
test.head()

,ABILITEC_ID,CC_Premium_8621,CC_Upscale_8621,affordability_2834,age,child_F_00_02_8601,child_F_03_05_8601,child_F_06_10_8601,child_F_11_15_8601,child_F_16_17_8601,child_M_00_02_8601,child_M_03_05_8601,child_M_06_10_8601,child_M_11_15_8601,child_M_16_17_8601,child_U_00_02_8601,child_U_03_05_8601,child_U_06_10_8601,child_U_11_15_8601,child_U_16_17_8601,credit_use_heavy_9358,economic_stability_7110,finance_interest_7831,home_value_8557,house_F_18_24_8600,house_F_25_34_8600,house_F_35_44_8600,house_F_45_54_8600,house_F_55_64_8600,house_F_65_74_8600,house_F_75PLUS_8600,house_M_18_24_8600,house_M_25_34_8600,house_M_35_44_8600,house_M_45_54_8600,house_M_55_64_8600,house_M_65_74_8600,house_M_75PLUS_8600,house_U_18_24_8600,house_U_25_34_8600,house_U_35_44_8600,house_U_45_54_8600,house_U_55_64_8600,house_U_65_74_8600,house_U_75PLUS_8600,houshold_count_8629,life_insurance_2354,worth_gold_9356,Marital_status_8609_B,Marital_status_8609_M,Marital_status_8609_S,child_ind_8622_Y,college_grad_7471_Y,gender_M,home_dweller_8606_R,enroll_or_not
0,03LNUS0100009HGZ,0.0,0.0,7,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,10,NaN,J,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,NaN,A,0,1,0,0,0,1,0,1
1,03LNUS010020ZNJ1,0.0,0.0,9,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,18,NaN,I,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,NaN,A,0,0,1,1,0,1,0,1
2,03LNUS01002Z447T,0.0,0.0,15,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,20,1,B,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,NaN,6,0,0,1,1,0,0,0,1
3,03LNUS01003TZXP8,0.0,0.0,4,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,3,1,,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,NaN,9,0,0,1,1,0,0,0,1
4,03LNUS010056GWS8,0.0,0.0,11,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,24,NaN,B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,NaN,7,0,0,0,0,0,0,0,1

In [38]:
X=test.drop(columns=['ABILITEC_ID','enroll_or_not'])
Y=test['enroll_or_not']

In [ ]:
#clf = DecisionTreeClassifier(max_depth=5,class_weight={0:1,1:8})
clf = DecisionTreeClassifier(max_depth=5)

clf_full = clf.fit(X,Y)

In [ ]:
import os
os.environ['PATH'].split(os.pathsep)
os.environ['PATH'] += os.pathsep+ r'C:\Users\xmeng5\Downloads\graphviz-2.38\release\bin'
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

#class_name='4_clusters'
dotdata = StringIO()
export_graphviz(clf_full, out_file=dotdata,  
                filled=True, rounded=True,proportion=True,
                special_characters=True,feature_names = list(X.columns),class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dotdata.getvalue())  
graph.write_png(r'C:\Users\xmeng5\Desktop\tree_less_features.png')
#Image(graph.create_png())